 

<div class="imagen" >
<div class="row">

    <div class="col-12" style="padding-top:40%">

      <div style="text-align:center">

          <img src="../assets/logo_login.png" alt="" style="width:180px;height:auto;text-align:center">

      </div>

    </div>

    <div class="col-10 offset-1" style="margin-top:60px">

      <input type="text" class="form-control" placeholder="Usuario">
      
    </div>

    <div class="col-10 offset-1" style="margin-top:20px">

      <input type="text" class="form-control" placeholder="Contraseña">
      
    </div>

    <div class="col-10 offset-1" style="text-align:right;margin-top:20px">

      <button class="btn btn-outline-light" style="border-radius:10px;width:40%;padding:2px">Ingresar</button>
      
    </div>

    <div class="col-12 text-center" style="margin-top:40px">

      <span style="color:white;font-size:14px">¿Olvidaste tu contraseña?</span>

    </div>

    <div class="col-10 offset-1 text-center" style="margin-top:10px">

      <a  [routerLink]="['/home']" class="btn btn-block btn-primary" style="background-color:#5e2458;color:white;border-radius:0px;border:0px;font-size:20px" >Regístrate</a>

    </div>

  
  </div>
  </div>
